.container{
    padding-top: 5px;
    height: 410px;
    max-width: 100%;
    display: flex;
    background-color: whitesmoke;
    overflow: auto;
    justify-content: normal ; 
}

.slide1{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
}
.buttonLeft{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcdcdc;
    color: grey;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: -5px;
    cursor: pointer;
}
.buttonRight{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcdcdc;
    color: grey;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: -85px;
}